{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "plugin:vue/vue3-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "plugins": ["vue", "@typescript-eslint"],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "ecmaVersion": "latest",
    "extraFileExtensions": [".vue"],
    "sourceType": "module",
    "project": "**/tsconfig.json"
  },
  "ignorePatterns": ["src/vite-env.d.ts"],
  "rules": {
    "semi": "off",
    "@typescript-eslint/semi": ["error", "never"],
    "quotes": ["error", "double"]
  }
}
